body {
    background-color: white;
}

.header-img {
    position: relative;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 250px;
    background-color: rgba(128, 130, 133, 0.66);
    border-radius: 25px 0 25px 0;
    overflow: hidden;
}

.header-text {
    position: relative;
    top: 2%;
    left: 20%;
}
.header-bg {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 20%;
    height: 100%;
    background-image: url("./img/bitcoin-gbf78b2c9f_1920.jpg");
}

main {
    position: relative;
    left: 10%;
    width: 80%;
}

.exp {
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}

.nav-item {
    position: relative;
    top: 30%;
    left: 27%;
    font-size: 26px;
    /*!*background-color: white;**/
    display: inline-block;
    margin-right: 30px;
}
    .nav-item a:hover {
        color: white;
        background-color: black;
    }

.nav a {
    text-decoration: none;
}

