* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4%;
}
header {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.header-img {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    background-color: rgba(243, 242, 242, 0.91);
    border-radius: 150px 25px 25px 150px;
    overflow: hidden;
}
.header-text {
    margin-top: 2%;
    margin-left: 5%;
}
.header-bg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    background-image: url("./img/photo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
main {
    width: 100%;
    padding: 0 10%;
}
h3, h4 {
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}
.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10%;
}
.nav-item {
    font-size: 20px;
    display: inline-block;
    margin-right: 50px;
}
.nav-item a:hover {
    color: white;
    background-color: black;
}
.nav a {
    text-decoration: none;
}
.experience {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}
.left-side {
    margin-right: 70px;
    width: 10%;
}
.right-side {
    width: 80%;
}
footer {
    font-size: 12px;
}
.title {
    font-weight: bold;
    font-size: 22px;
}

@media (max-width: 1300px) {
    .experience {
        flex-direction: column;
    }
    .left-side {
        width: 100%;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
    }
    .header-bg {
        width: 100px;
        height: 100px;

}

@media (max-width: 700px) {
    .header-img {
        height: 125px;
    }
    .header-bg {
        width: 125px;
        height: 125px;
    }
}

@media (max-width: 320px) {
    .header-img {
        height: 100px;
    }
    .header-text h1 {
        font-size: 17px;
    }
    .title {
        font-size: 14px;
    }
    .header-bg {
        width: 100px;
        height: 100px;
    }
    .nav ul li {
        font-size: 14px;
        padding-left: 40px;
    }
}